@charset "UTF-8";

body {
    background-color: #d1c1b3;
    font-family: "Poppins", sans-serif;
    background: #d1c1b3 url(images/raccoonshadow.png) no-repeat center 30% fixed;
}

h4 {
    text-shadow: .05em .05em .05em gray;
    font-family: "Fondamento", sans-serif;
    text-wrap: balance;
    font-size: 29px;
    text-align: center;
}


h3 {
  font-family: "Fondamento", sans-serif;
  float: left;
  margin-top: 0;
  padding: 1em;
  text-align: center;
  text-shadow: .05em .05em .05em gray;
  font-size: 30px;
}

h2 {
  text-wrap: balance;
  font-size: 25px;
  text-align: center;
}

h1 {
font-size: 20px;
text-align: center;
font-family: "Lato", sans-serif;
}

strong {
    font-style: italic;
}

.img {
    float: left;
}

small {
  align-items: center;
  text-align: center;
  font-style: italic;
}


/* Add a black background color to the top navigation */
.topnav {
    background-color: #2f2824;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 17px 17px;
    text-decoration: none;
    font-size: 15px;
    
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #d1c1b3;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #d1c1b3;
    border: 2px solid black;
  }
  
a:link {
    color: #9d816c;
}
a:visited {
    color: #9d816c;
}

a:focus, a:hover {
    color: #9d816c;
    
}

footer {
    border-top: 1.5px solid black;
    text-align: center;
    color: black;
}

.section {
  background-color: #2f2824;
  display: flex;
  justify-content: space-between;
  padding: 40px;
  width: 80%;
  margin: 5rem auto 0 auto;
  border: 5px solid black;
}


.section h1 {
  margin: 0;
  color: #d1c1b3;
  font-family: "Lato", sans-serif;
}

.section p {
  margin-right: 15px;
  color: #d1c1b3;
}

ul {
    text-align: center;
    align-items: center;
    color: #d1c1b3;
    font-size: 17px;
    list-style-type: none;
    align-items: center;
}

video {
  margin-top: 80px;
}